#ArmyHelper {
    .addForm {
        input {
            width: 100%;
        }

        td {
            text-align: center;
        }
		
        th {
            text-align: center;
            padding: 0px;
        }
		
		span {
            height: 26px;
            line-height: 26px;
            padding: 0 10px;
        }
    }
    .group1 {
        width: 175px;
    }
    .group2 {
        width: 175px;
    }
    .addForm1 {
        input {
            width: 100%;
        }

        td {
            text-align: center;
            height: 34px;
            line-height: 34px;
        }
		
        th {
            text-align: center;
            padding: 0px;
        }
		
		span {
            height: 34px;
            line-height: 34px;
            padding: 0 10px;
        }
		
		.item-name {
		    text-align: left;
		}
    }
}
