<div class="win-content message-list-wrapper searchable-list ng-scope">
    <header class="win-head">
        <h2><#= locale("administrator", "title") #> <span class="small">v<#= version #></span></h2>
        <ul class="list-btn">
            <li><a href="#" class="twOverflow-close size-34x34 btn-red icon-26x26-close"></a></li>
        </ul>
    </header>

    <div class="tabs tabs-bg">
        <div class="tabs-two-col">
            <div class="tab" tab="presets">
                <div class="tab-inner">
                    <div><a href="#" class="btn-icon btn-orange"><#= locale("administrator", "presets") #></a></div>
                </div>
            </div>
			
            <div class="tab" tab="army">
                <div class="tab-inner">
                    <div><a href="#" class="btn-icon btn-orange"><#= locale("administrator", "army") #></a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="win-main">
        
        <!-- presets -->

        <div class="box-paper footer has-footer-upper twOverflow-content-presets">		
            <h5 class="twx-section"><#= locale("administrator", "presets-all") #></h5>

            <form class="addForm">
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
                        <col>
                        <col width="18%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="item-name"><#= locale("administrator", "presets.all") #></td>
                            <td class="item-asignAll"><span class="btn btn-orange addSelected" tooltip="<#= locale("administrator", "asigningAll") #>"><#= locale("administrator", "asign") #></span></td>
                        </tr>
                    </tbody>
                </table>
            </form>
			<h5 class="twx-section"><#= locale("administrator", "presets-name") #></h5>

            <form class="addForm">
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
                        <col width="20%">
                        <col>
                        <col width="18%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="presetsName" value="" autocomplete="off" placeholder="<#= locale("administrator", "entry/name") #>">
                            </td>
                            <td class="item-name"><#= locale("administrator", "presets.name") #></td>
                            <td class="item-asignName"><span class="btn btn-orange addSelected" tooltip="<#= locale("administrator", "asigningName") #>"><#= locale("administrator", "asign") #></span></td>
                        </tr>
                    </tbody>
                </table>
            </form>			
			<h5 class="twx-section"><#= locale("administrator", "presets-group") #></h5>

            <form class="addForm">
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
                        <col width="20%">
                        <col>
                        <col width="18%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>
                                <select data-setting="group1" class="group1"></select>
                            </td>
                            <td class="item-name"><#= locale("administrator", "presets.group") #></td>
                            <td class="item-asignGroup"><span class="btn btn-orange addSelected" tooltip="<#= locale("administrator", "asigningGroup") #>"><#= locale("administrator", "asign") #></span></td>
                        </tr>
                    </tbody>
                </table>
            </form>			
			<h5 class="twx-section"><#= locale("administrator", "presets-ng") #></h5>

            <form class="addForm">
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
                        <col width="20%">
                        <col width="20%">
                        <col>
                        <col width="18%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="presetsN" value="" autocomplete="off" placeholder="<#= locale("administrator", "entry/name") #>">
                            </td>
                            <td>
                                <select data-setting="group2" class="group2"></select>
                            </td>
                            <td class="item-name"><#= locale("administrator", "presets.ng") #></td>
                            <td class="item-asignNG"><span class="btn btn-orange addSelected" tooltip="<#= locale("administrator", "asigningNG") #>"><#= locale("administrator", "asign") #></span></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>

        <!-- check army -->

        <div class="box-paper footer has-footer-upper twOverflow-content-army">
            <h5 class="twx-section"><#= locale("administrator", "check") #></h5>

            <form class="addForm">
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="item-check"><span class="btn btn-orange addSelected" tooltip="<#= locale("administrator", "check.tip") #>"><#= locale("administrator", "check.btn") #></span></td>
                        </tr>
                    </tbody>
                </table>
            </form>
			<h5 class="twx-section"><#= locale("administrator", "army.amounts") #></h5>

            <form class="addForm1">
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
                        <col>
                        <col width="12%">
                        <col width="12%">
                        <col width="12%">
                        <col width="12%">
                        <col width="12%">
                        <col width="12%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th class="item-head"><#= locale("administrator", "unit") #></th>
                            <th class="item-head"><#= locale("administrator", "available") #></th>
                            <th class="item-head"><#= locale("administrator", "own") #></th>
                            <th class="item-head"><#= locale("administrator", "in-town") #></th>
                            <th class="item-head"><#= locale("administrator", "support") #></th>
                            <th class="item-head"><#= locale("administrator", "recruiting") #></th>
                            <th class="item-head"><#= locale("administrator", "total") #></th>
                        </tr>
                        <tr>
                            <td class="item-nameX" colspan="7"><#= locale("administrator", "deffensive-troops") #></td>
                        </tr>
                        <tr>
                            <td class="item-name"><span class="icon-bg-black icon-34x34-unit-spear"></span> <#= locale("common", "spear") #></td>
                            <td class="item-spear-a"></td>
                            <td class="item-spear-o"></td>
                            <td class="item-spear-i"></td>
                            <td class="item-spear-s"></td>
                            <td class="item-spear-r"></td>
                            <td class="item-spear-t"></td>
                        </tr>
                        <tr>
                            <td class="item-name"><span class="icon-bg-black icon-34x34-unit-sword"></span> <#= locale("common", "sword") #></td>
                            <td class="item-sword-a"></td>
                            <td class="item-sword-o"></td>
                            <td class="item-sword-i"></td>
                            <td class="item-sword-s"></td>
                            <td class="item-sword-r"></td>
                            <td class="item-sword-t"></td>
                        </tr>
                        <tr>
                            <td class="item-name"><span class="icon-bg-black icon-34x34-unit-archer"></span> <#= locale("common", "archer") #></td>
                            <td class="item-archer-a"></td>
                            <td class="item-archer-o"></td>
                            <td class="item-archer-i"></td>
                            <td class="item-archer-s"></td>
                            <td class="item-archer-r"></td>
                            <td class="item-archer-t"></td>
                        </tr>
                        <tr>
                            <td class="item-name"><span class="icon-bg-black icon-34x34-unit-heavy_cavalry"></span> <#= locale("common", "heavy_cavalry") #></td>
                            <td class="item-hc-a"></td>
                            <td class="item-hc-o"></td>
                            <td class="item-hc-i"></td>
                            <td class="item-hc-s"></td>
                            <td class="item-hc-r"></td>
                            <td class="item-hc-t"></td>
                        </tr>
                        <tr>
                            <td class="item-name"><span class="icon-bg-black icon-34x34-unit-trebuchet"></span> <#= locale("common", "trebuchet") #></td>
                            <td class="item-trebuchet-a"></td>
                            <td class="item-trebuchet-o"></td>
                            <td class="item-trebuchet-i"></td>
                            <td class="item-trebuchet-s"></td>
                            <td class="item-trebuchet-r"></td>
                            <td class="item-trebuchet-t"></td>
                        </tr>
                        <tr>
                            <td class="item-nameX" colspan="7"><#= locale("administrator", "offensive-troops") #></td>
                        </tr>
                        <tr>
                            <td class="item-name"><span class="icon-bg-black icon-34x34-unit-axe"></span> <#= locale("common", "axe") #></td>
                            <td class="item-axe-a"></td>
                            <td class="item-axe-o"></td>
                            <td class="item-axe-i"></td>
                            <td class="item-axe-s"></td>
                            <td class="item-axe-r"></td>
                            <td class="item-axe-t"></td>
                        </tr>
                        <tr>
                            <td class="item-name"><span class="icon-bg-black icon-34x34-unit-light_cavalry"></span> <#= locale("common", "light_cavalry") #></td>
                            <td class="item-lc-a"></td>
                            <td class="item-lc-o"></td>
                            <td class="item-lc-i"></td>
                            <td class="item-lc-s"></td>
                            <td class="item-lc-r"></td>
                            <td class="item-lc-t"></td>
                        </tr>
                        <tr>
                            <td class="item-name"><span class="icon-bg-black icon-34x34-unit-mounted_archer"></span> <#= locale("common", "mounted_archer") #></td>
                            <td class="item-ma-a"></td>
                            <td class="item-ma-o"></td>
                            <td class="item-ma-i"></td>
                            <td class="item-ma-s"></td>
                            <td class="item-ma-r"></td>
                            <td class="item-ma-t"></td>
                        </tr>
                        <tr>
                            <td class="item-name"><span class="icon-bg-black icon-34x34-unit-ram"></span> <#= locale("common", "ram") #></td>
                            <td class="item-ram-a"></td>
                            <td class="item-ram-o"></td>
                            <td class="item-ram-i"></td>
                            <td class="item-ram-s"></td>
                            <td class="item-ram-r"></td>
                            <td class="item-ram-t"></td>
                        </tr>
                        <tr>
                            <td class="item-name"><span class="icon-bg-black icon-34x34-unit-catapult"></span> <#= locale("common", "catapult") #></td>
                            <td class="item-catapult-a"></td>
                            <td class="item-catapult-o"></td>
                            <td class="item-catapult-i"></td>
                            <td class="item-catapult-s"></td>
                            <td class="item-catapult-r"></td>
                            <td class="item-catapult-t"></td>
                        </tr>
                        <tr>
                            <td class="item-name"><span class="icon-bg-black icon-34x34-unit-doppelsoldner"></span> <#= locale("common", "doppelsoldner") #></td>
                            <td class="item-berserker-a"></td>
                            <td class="item-berserker-o"></td>
                            <td class="item-berserker-i"></td>
                            <td class="item-berserker-s"></td>
                            <td class="item-berserker-r"></td>
                            <td class="item-berserker-t"></td>
                        </tr>
                        <tr>
                            <td class="item-nameX" colspan="7"><#= locale("administrator", "special-troops") #></td>
                        </tr>
                        <tr>
                            <td class="item-name"><span class="icon-bg-black icon-34x34-unit-snob"></span> <#= locale("common", "snob") #></td>
                            <td class="item-snob-a"></td>
                            <td class="item-snob-o"></td>
                            <td class="item-snob-i"></td>
                            <td class="item-snob-s"></td>
                            <td class="item-snob-r"></td>
                            <td class="item-snob-t"></td>
                        </tr>
                        <tr>
                            <td class="item-name"><span class="icon-bg-black icon-34x34-unit-knight"></span> <#= locale("common", "knight") #></td>
                            <td class="item-knight-a"></td>
                            <td class="item-knight-o"></td>
                            <td class="item-knight-i"></td>
                            <td class="item-knight-s"></td>
                            <td class="item-knight-r"></td>
                            <td class="item-knight-t"></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>